<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Generation Result</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-5">Generation Result</h1>
    <p class="lead">The Shadow City model has been generated. Download the output files below:</p>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="<%= mainScad %>" download>Main Model (SCAD)</a>
      </li>
      <li class="list-group-item">
        <a href="<%= frameScad %>" download>Frame Model (SCAD)</a>
      </li>
      <li class="list-group-item">
        <a href="<%= logFile %>" download>Debug Log</a>
      </li>
    </ul>
    <hr>
    <h3>Process Output</h3>
    <div class="card">
      <div class="card-body">
        <h5>Standard Output</h5>
        <pre><%= stdout %></pre>
        <h5>Error Output</h5>
        <pre><%= stderr %></pre>
      </div>
    </div>
    <a href="/" class="btn btn-secondary mt-3">Back to Home</a>
  </div>
</body>

</html>